.allGamesBody{
    width: 100%;
}


.h3_games_zona{
    color: aliceblue;
    margin: 0;
    padding: 0.5vh;
}

.hr_games_zona{
    width: 100%;
    border-top: 4px dashed #008568;
}

.allGames{
    width: 100%;
    display: flex;
}

.game_box{
width: 40vh;
height: 25vh;
margin: 1vh;
background-size: cover;
background-repeat: no-repeat;
display: flex;
flex-direction: column;
align-items: center;
justify-content: flex-end;
cursor: pointer;
}

.game_name{
    font-size: large;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: aliceblue;
    margin: 0;
}

.game_hover{
    position: fixed;
    z-index: 1;
    width: 40vh;
    height: 25vh;
    background-color: aliceblue;
    opacity: 0.6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.game_demo{
    border: none;
    padding: 1vh;
    font-weight: bold;
    color: #000000;
    opacity: 1;
    
}